<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo.svg" alt="" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-id">
            <ul class="nav navbar-nav">
                <li><a href="/markdown/list">Markdown</a></li>
                <li><a href="/json/list">JSON</a></li>
                <li><a href="/text/jsrun">运行JS</a></li>
                <li><a href="/text/qrcode">二维码</a></li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">通用能力<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/file/manage">文件上传/下载</a></li>
                        <li><a href="/http/request">Http请求</a></li>
                        <li><a href="/text/replace">文本替换</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" id="username">root<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/api/user/logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>