<template id="template">
    <div class="row " style="margin: 10px 0;">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="请输入标题" v-model="title">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" @click="createMarkdown">创建</button>
        </div>
    </div>
    <div class="row " style="margin: 10px 0; padding-left: 15px;">
        <template v-for="(item, i) in categoryList">
            <label class="radio-inline">
                <input type="radio" name="category" :value="item" v-model="category"
                    @change="selectClassify(item)">{{item}}
            </label>
        </template>
        <a class="btn btn-link btn-sm" @click="addCategory()">新增分类</a>
    </div>
    <div id="markdown"></div>
</template>
<script>

    window.VueObject = {
        data() {
            let list = []
            return {
                content: '',
                title: '',
                category: '',
                categoryList: [],
            }
        },
        template: '#template',
        async mounted() {
            this.getCategoryList()
            initMarkdownEditor('markdown', '', (value) => {
                this.content = value
            })
        },
        methods: {
            async getCategoryList() {
                let result = await axios.post('/api/database/distinct/default/content/category', {
                    where: {
                        content_type: 'markdown'
                    }
                })
                this.categoryList = result.data.data
            },
            async addCategory() {
                bootbox.prompt("请输入分类", (result) => {
                    if (result == null) {
                        return true
                    }
                    if (result.length < 1) {
                        return false
                    }
                    this.categoryList.push(result)
                    this.category = result
                })
            },
            async createMarkdown() {
                let data = {
                    title: this.title,
                    content: this.content,
                    category: this.category,
                    content_type: 'markdown',
                    create_at: dayjs().unix(),
                    modify_at: dayjs().unix(),
                }
                if (data.title.trim().length < 1) {
                    bootbox.alert('请输入标题')
                    return
                }
                if (this.category.trim().length < 1) {
                    bootbox.alert('请选择分类')
                    return
                }
                let result = await axios.post('/api/database/create/default/content', data)
                if (result.data.code != 0) {
                    bootbox.alert(result.data.message)
                    return
                }
                bootbox.alert('创建成功', () => {
                    windowRedirect('/markdown/list', {
                        'category': this.category
                    })
                })
            }
        }
    }
</script>